@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");
* {
  transition: 0.25s;
}

body {
  background-color: #eeeef7;
}

header {
  position: sticky;
  background-color: #31343d;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}

header h1 {
  background: #92ccce;
  color: #31343d;
  font-family: 'Sora', sans-serif;
  white-space: nowrap;
}

header #menu-show-button {
  color: #92ccce;
  padding: 0.35rem 1rem;
  font-size: 2rem;
  cursor: pointer;
}

header nav {
  display: flex;
  background: #31343d;
}

header nav a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1.35rem;
  color: #92ccce;
  white-space: nowrap;
}

#hero {
  display: inline-block;
  width: 100%;
  background-size: cover;
  font-family: 'Sora', sans-serif;
  background-image: url(../images/hero.png);
}

#hero div {
  position: relative;
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
}

#hero div h2 {
  position: absolute;
  background-color: #92ccce;
  color: #31343d;
}

#hero div #profile-image {
  position: absolute;
  border-radius: 50%;
}

main {
  max-width: 1600px;
  margin: 0 auto;
}

main > section {
  display: flex;
  width: 100%;
}

main > section > h4 {
  flex: 0 0 auto;
  content: attr(data-section-title);
  display: inline-block;
  font-family: 'Sora', sans-serif;
  font-weight: 600;
  color: #445877;
}

main > section .content {
  flex: 1 0 auto;
  display: block;
  text-align: justify;
  color: #445877;
}

main #about-section p {
  line-height: 1.25;
}

main #about-section p:not(:first-child) {
  margin-top: 1rem;
}

main #about-section ul li {
  list-style-type: disc;
  line-height: 1.25;
  margin-top: 0.2rem;
  margin-left: 1.75rem;
}

main #work-section .content {
  display: flex;
}

main #work-section .content .card {
  position: relative;
  margin: 0.35rem;
  min-height: 10rem;
  border: 0.4rem solid #92ccce;
  overflow: hidden;
  transition: 0.1s;
}

main #work-section .content .card:focus {
  outline: none;
}

main #work-section .content .card:first-child {
  width: 100%;
  min-height: 20rem;
}

main #work-section .content .card img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

main #work-section .content .card > span {
  position: absolute;
  bottom: 1rem;
  left: 0;
  display: flex;
  flex-direction: column;
  background: #92ccce;
  color: #31343d;
  padding: 0.5rem 1rem;
  z-index: 2;
}

main #work-section .content .card > span code {
  font-family: monospace;
}

main #contact-section .content span {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

main #contact-section .content span a {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 500;
  color: #445877;
  white-space: nowrap;
}
